*{
    font-family: 'Courier New', Courier, monospace;
}
body{
    width: 100vx;
    height: 100vh;
    background-color: rgb(246, 81, 114);
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    color: aliceblue;
    text-align: center;
}
div button{
  border: none;
  background-color: rgb(57, 11, 101);
  color: aliceblue;
  padding: 10px 20px;  
  border-radius: 5px;
  font-size: 18px;

}
div h3{
    font-size: 20px;

}
b {
    color: rgb(76, 0, 255);
    background-color: rgb(222, 220, 245);
    border-radius: 50%;
    padding: 5px;
}